@font-face {
    font-family: 'Cherolina';
    src: url('Cherolina.eot');
    src: url('Cherolina.eot?#iefix') format('embedded-opentype'),
        url('Cherolina.woff2') format('woff2'),
        url('Cherolina.woff') format('woff'),
        url('Cherolina.ttf') format('truetype'),
        url('Cherolina.svg#Cherolina') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


